@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

@layer base{
  body{
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
  nav {
    @apply absolute top-0 right-0 bottom-0 w-[300px];
  }
 

  
  button {
    @apply border-0 outline-none focus:outline-none absolute top-[16px] right-[0px] w-[50px] h-[50px] rounded-full;
  }
}

@layer components {
  .background {
    @apply  ;
  }
  .icon-placeholder {
    @apply w-[45px] h-[45px] rounded-full;
  }
  .text-placeholder {
    @apply flex-1 h-8 rounded-lg;
  }
}

ul li:nth-child(1) span {
  border: 2px solid #FF008C;
 }
 ul li:nth-child(2) span {
  border: 2px solid #D309E1;
 }
 ul li:nth-child(3) span {
  border: 2px solid #9C1AFF;
 }
 ul li:nth-child(4) span {
  border: 2px solid #7700FF;
 }
 ul li:nth-child(5) span {
  border: 2px solid #4400FF;
 }